extends layout 

block content 
    h1=title 

    form(method='POST')
        label(for='category_name') Category name: 
        input#category_name(type='text', placeholder='Category name', name='category_name', required, value=(undefined===category ? '' : category.name))
        label(for='category_desc') Description: 
        input#category_desc(type='text', placeholder='Description', name='category_desc', required, value=(undefined===category ? '' : category.description))
        button(type='submit') Submit

    if errors
        ul
            for error in errors
                li!= error.msg
