doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      p
        a(href='/catalog/categories') Inventory Application
      p
        a(href='/catalog/category/create') Add new Category
      p 
        a(href='/catalog/item/create') Add new Items

    block content
